/*index-header start*/
.index-header{
    position: fixed;
    width:100%;
    height:60px;
    border:1px solid #eee;
    background-color: #fff;
}
.index-header-img img{
    float: left;
    padding:10px 50px;
}
.index-header-nav{
    text-align: center;
}
.index-header-nav ul li{
    float:left;
    width:100px;
    font-family: 微软雅黑;
    font-size: 16px;
    line-height: 60px;
}
.index-header-nav ul li a{
  color:#000;
}
.index-nav{
    color:#ff0000 !important;
}
.index-header-nav ul li a:hover{
    display: block;
    width:100px;
    height:60px;
    background-color: #eee;
}
.index-header-login{
    float: right;
    width:450px;
    line-height: 60px;
}
.index-header-login .search-btn{
    width:180px;
    height:30px;
    border: none;
    border:0;
    text-indent: 15px;
    background-color: #eee;
    border-radius: 10px;
}
.icon-search{
    font-size: 18px;
}
.index-header-login{
    position: relative;
}
.search-info{
    position: absolute;
    top:25px;
    left:160px;
}
input:focus{
    outline: none;
    box-shadow: none;
}
.index-header-login .login-btn{
    font-family: 微软雅黑;
    font-size: 16px;
    padding:0 30px;
    color:#000;
}
.index-header-login .register-btn{
    font-family: 微软雅黑;
    font-size: 16px;
    padding:10px 30px;
    color:#ff0000;
    border-radius: 5px;
    border:1px solid #ff0000;
}
.index-header-login .register-btn:hover{
    background-color:#FEF7F6;
}

/*index-main start*/
.wrapper{
    width:1000px;
    margin:0 auto;
    min-height: 1200px;
}
.index-main-left-article{
    float: left;
    width:700px;
    padding-top: 50px;
    min-height: 1100px;
}
.index-main-left-article-content{
    width:500px;
    min-height:150px;
    margin-top:30px;
    border-bottom: 1px solid #eee;
}
.index-main-left-article-content a{
    display: inline-block;
    margin-bottom: 15px;
    color:#000;
    font-size:16px;
}
.index-main-left-article-content a:hover{
   color:#ff0000;
}
.index-main-left-article-content p{
    font-size:14px;
    line-height: 25px;
    font-family: 微软雅黑;
}
.index-main-right-list{
    float: right;
    width:280px;
    padding-top: 75px;
    min-height: 500px;
}
.index-main-right-list-content h3{
    margin-top:10px;
    margin-bottom: 10px;
}
.index-main-right-list-content li{
    line-height:40px;
}
.index-main-right-list-content li a{
    font-size: 13px;
    font-family: 微软雅黑;
    color:#000;
}
.index-main-right-list-content li a:hover{
    color:#ff0000;
}
/*.index-footer start*/
.index-footer{
    width:100%;
    height:60px;
    padding-top: 40px;
    text-align: center;
    clear: both;
    background-color: #eee;
}
.index-footer-info{
    padding-bottom: 5px;
}