<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog-个人空间</title>
    <link rel="stylesheet" href="/static/css/index.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css"/>
    <link rel="styRlesheet" hrf="/static/css/font-awesome.min.css" type="text/css"/>
</head>
<body>

<!--index-header start-->
<div class="index-header">
    <div class="index-header-img">
        <a href="#"><img src="/static/images/logo.png" alt="博客logo" style="width:50px; height:40px;"/></a>
        </div>
    <div class="index-header-nav">
        <ul>
            <li><a href="#" class="index-nav">首页</a></li>
{#            {% for caragory in caragory_list %}#}
{#             <li><a href="#">{{ caragory.name }}</a></li>#}
{#            {% endfor %}#}

            <li><a href="/view">生活</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#">资源</a></li>
           </ul>
        </div>

    {% if request.user.is_authenticated %}

    <div class="index-header-login">
        <input type="text" class="search-btn" placeholder="搜索" maxlength="15" />
        <i class="icon-search search-info"></i>
        <a href="/login" class="login-btn login
        -success">冯冲已登录</a>
        </div>
     {% else %}
    <div class="index-header-login">
        <input type="text" class="search-btn" placeholder="搜索" maxlength="15" />
        <i class="icon-search search-info"></i>
        <a href="/login" class="login-btn">登录</a>
        <a href="/register" class="register-btn">注册</a>
        </div>
    {% endif %}
    </div>
<!--index-header end-->

<!--index-main start-->
{% block org_list %}
<div class=wrapper>
    <div class="index-main">
        <div class="index-main-left-article">
{#            {% for article in article_list %}#}
{#            <div class="index-main-left-article-content">#}
{#            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>#}
{#            <p>文章描述：{{ article.desc }}，发布时间：2017-07-20</p>#}
{#            <p>﻿{{ article.content }}</p>#}
{#                </div>#}
{#            {% endfor %}#}
            <div class="index-main-left-article-content">
                {% for a_ariticle in all_acritcl.object_list %}
                <a href="/post/{{ a_ariticle.id }}">{{ a_ariticle.title }}</a>
                <p>作者：小牛，发布时间：{{ a_ariticle.add_time }}</p>
                <p class="index-main-left-article-panel">
                    {% autoescape off %}
                    {{ a_ariticle.content_text }}
                    {% endautoescape %}
                </p>
                {% endfor %}
            </div>
            <div class="index-main-left-article-content">
            </div>
        {% endblock %}


        <div class="pagination">
            {% if all_acritcl.has_previous %}
            <li class="long"> <a href="?{{ all_acritcl.previous_page_number.querystring }}">上一页</a></li>
            {% endif %}
            {% for page in all_acritcl.pages %}
        {% if page %}
            {% ifequal page all_acritcl.number %}
                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a> </li>
            {% else %}
                <li ><a href="?{{ page.querystring }}" class="page">{{ page }}</a> </li>
            {% endifequal %}
        {% else %}
            <li class="none"><a href="">...</a> </li>
        {% endif %}
    {% endfor %}
    {% if all_acritcl.has_next %}
        <li class="long"><a href="?{{ all_acritcl.next_page_number.querystring }}">下一页</a> </li>
    {% endif %}
        </div>
        </div>
        <div class="index-main-right-list">
            <div class="index-main-right-list-content">
                <h3>技术分类</h3>
                <ul>
                    <li><a href="#">HTML-超文本标记语言</a></li>
                    <li><a href="#">CSS-用于修饰html标签</a></li>
                    <li><a href="#">Javascript-添加web特效</a></li>
                    <li><a href="#">C#-实现web后台功能</a></li>
                    <li><a href="#">Node.js-前后台交互</a></li>
                    <li><a href="#">MVC-实现分工合作，高效率</a></li>
                    </ul>
                </div>
            <div class="index-main-right-list-content">
                <h3>评论空间</h3>
                <textarea id="js-textarea" name="comments" cols="40" rows="3" class="index-comment-box"  placeholder="不吐不快，请写下你的评论吧"></textarea>
                <input type="button" id="js-submit" value="发表评论" class="index-comment-info" />
                <div class="index-all-comment">
                    <h3>全部评论</h3>
                    <div class="index-comment-panel">
                        <div class="index-all-comment-left">
                            <img src="images/pic-list1.png" alt="用户头像"/>
                        </div>
                        <div class="index-all-comment-right">
                            <span>张三</span>
                            <p>今天的天气真好啊！</p>
                        </div>
                        <div class="index-all-comment-right-number">
                            <i class="icon-user icon-title" ></i><span>666</span>
                            <i class="icon-comment icon-title" ></i><span>666</span>
                            <i class="icon-heart icon-title" ></i><span>666</span>
                        </div>
                    </div>
<script type="text/javascript">
    $('#js-submit').on('click',function () {
        var comments = $("#js-textarea").text()
        if(comments == ""){
            alert("评论不能为空")
            return
        }
        $.ajax({
            cache:false,
            type:"POST",
            url:"{% url 'add_comments' %}",
            data:{'comments':comments},
            async:true,
            beforeSend:function (xhr,settings){
                xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}");
            },
            success:function (data) {
                if(data.status == 'fail'){
                    if(data.msg == '用户未登录'){
                        window.location.href="/login/";
                    }else{
                        alert(data.msg)
                    }
                }else if(data.status == 'success'){
                    window.location.reload();
                }

            },
        });
    });
</script>
                </div>
            </div>

            </div>
        </div>
</div>
<!--index-main end-->

<!--index-footer start-->
<div class="index-footer ">
    <p class="index-footer-info">Powered & Designed by gu yong xu</p>
    <p>Copyright©2017 顾永旭-旭空间-旭生活</p>
    </div>
<!--index-footer end-->
</body>
</html>